# Compiled source #
###################
bin/
obj/

# NuGet #
##########
*.nupkg
*.snupkg
*.nuspec
*.snupkg

# ASP.NET Scaffolding #
########################
ScaffoldingReadMe.txt

# Logs #
##########
*.log

# User-specific files #
########################
*.suo
*.user
*.userosscache
*.suo
*.swp
*.sublime-workspace
*.sublime-project

# OS-specific files #
#####################
.DS_Store
Thumbs.db

# DotCover #
############
*.dotCover

# Rider #
##########
.idea/

# VS Code #
############
.vscode/

# Windows image file caches #
##############################
Thumbs.db

# ASP.NET Core #
################
project.lock.json
project.fragment.lock.json
artifacts/

# Sensitive files #
#####################
secrets.json

# Entity Framework Core #
#########################
*.db

# Local History #
##################
.localhistory/

# Ignore appsettings.json
appsettings.json